extends layout

block content
    h1= title
    p Welcome to #{title}, your ip address is: #{ip}
    h2 Retrive information about the inserted IP:
    form(action="/getIP" method="POST")
        input(name="ip" type="text")
        input(type="submit")
